@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
/* define variables */
.app {
  --color-hover-green: "#21CA1B";
  --color-green: "#236C13"
  --color-orange:"#F8912D";
  --site-bg:"#EBEBEB"
}
.category-card {
  width: 200px;
  margin-right: 16px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.zen-tokyo-zoo-regular {
  font-family: "Zen Tokyo Zoo", system-ui;
  font-weight: 400;
  font-style: normal;
}
.otto {
  color: white;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
